<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список вакансий</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>

        <form method="post" action="loadjobs">
            <h4>введите url по шаблону https://rabota.yandex.ru/...</h4>
            <input type="text" placeholder="https://rabota.yandex.ru ... " name="url">
            <button type="submit">Загрузить</button>
        </form>


        <form method="post" action="filter">
            <h4>фильтр по заголовку</h4>
            <input type="text" placeholder="значение" name="filter">
            <button type="submit">Найти</button>
        </form>

        <h1>Список вакансий:</h1>
        <table border = "1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Заголовок</th>
                    <th>Оклад</th>
                    <th>Организация</th>
                    <th>Контакт</th>
                    <th>Телефон</th>
                    <th>Тип Занятности</th>
                    <th>Описание вакансии</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="part : ${listJobs}">
                    <td th:text="${part.id}"></td>
                    <td th:text="${part.titleJobs}"></td>
                    <td th:text="${part.salary}"></td>
                    <td th:text="${part.company}"></td>
                    <td th:text="${part.contact}"></td>
                    <td th:text="${part.phone}"></td>
                    <td th:text="${part.typeEmployment}"></td>
                    <td>
                        <a th:href="@{description(id=${part.id})}">нажми меня</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>Страницы:
            <tr th:each="page : ${pages}">
                <td><a th:href="@{pagination(numberPage=${page})}"><b th:text="${page}"></b></a></td>
            </tr>
        </div>
    </body>
</html>